services:
  weather:
    build:
      context: .
      dockerfile: weather/Dockerfile
    volumes:
      - ./data:/data:ro
    ports:
      - "8090:8090"

  api:
    build:
      context: .
      dockerfile: api/Dockerfile
    environment:
      WEATHER_URL: "http://weather:8090"
      OPENAI_API_KEY: ${OPENAI_API_KEY}
    depends_on:
      - weather
    ports:
      - "8083:8080"
